@use "../utils" as u;

.blogs {
  &__hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &__background {
    grid-row: 1;
    grid-column: 1;

    .hero_rectangle {
      height: 50vh;

      @include u.breakpoint-min(med) {
        height: 80vh;
      }
    }
  }

  &__header {
    grid-row: 1;
    grid-column: 1;
    background-image: url("/images/blog-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    margin-bottom: var(--space-3xl);
    align-self: flex-start;
    margin-top: 4rem;
  }

  &__overlay {
    background-color: var(--color-primary-ol);
    padding: 2rem 0.5rem;
    color: var(--background-color);
    text-shadow: 1px 1px 4px var(--color-primary);

    p {
      text-align: center;
      font-size: var(--step-0);
      font-weight: 300;
      max-width: 32rem;
      margin: 0 auto;
      margin-top: 1rem;
    }

    @include u.breakpoint-min(lg) {
      padding: 4rem 0;
    }

    @include u.breakpoint-min(xl) {
      padding: 6rem 0;
    }
  }

  &__subHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }

  &__title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }

  &__pawIcon {
    font-size: 8rem;
    transform: rotate(135deg);
    opacity: 0.35;
    margin-right: -4rem;
    margin-top: -2rem;
  }

  &__h2 {
    font-family: var(--secondary-font-stack);
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
  }

  &__boneImg {
    max-width: 24rem;
    opacity: 0.35;
    grid-column: 1;
    grid-row: 1;
    margin-inline: auto;
  }
}
