@use "../utils" as u;

.blog {
  &__hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &__background {
    grid-row: 1;
    grid-column: 1;

    .hero_rectangle {
      height: 50vh;
    }
  }

  &__header {
    grid-row: 1;
    grid-column: 1;
    height: fit-content;
    margin-bottom: var(--space-3xl);
    align-self: flex-start;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &__image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 20rem;
    aspect-ratio: 2 / 1;

    @include u.breakpoint-min(xl) {
      height: 24rem;
    }
  }

  &__overlay {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    max-width: 46rem;
    justify-self: center;
    align-self: center;
    padding: 2rem 0.5rem;
    color: var(--background-color);
    text-shadow: 1px 1px 4px var(--color-primary);
    backdrop-filter: blur(2px);

    h1 {
      background-color: var(--color-primary-ol);
      padding: 1rem 2rem;
      border-radius: 0.85rem;
      font-size: var(--step-4);
    }

    @include u.breakpoint-min(lg) {
      padding: 4rem 0;
    }

    @include u.breakpoint-min(xl) {
      padding: 6rem 0;
    }
  }

  &__content {
    margin-top: -2rem;
  }

  &__details {
    background-color: var(--background-variant);
    box-shadow: 3px 3px 8px var(--color-primary);
    border-radius: 0.85rem;
    padding: 1rem 2rem;
  }

  &__date,
  &__categories,
  &__author {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: var(--step-1);
    margin-bottom: 0.35rem;
  }

  &__icon {
    width: 1.35rem;
  }

  &__body {
    max-width: 48rem;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 2rem;
    }

    .bodyImage {
      border-radius: 0.35rem;
      background-color: var(--img-background);
      box-shadow: 3px 3px 8px var(--color-primary);
      max-width: 48rem;

      img {
        padding: 0.75rem 1rem;
      }
    }

    ul {
      align-self: flex-start;
    }
  }

  &__link {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    bottom: 1%;

    p {
      font-size: var(--step-1);
      margin-right: -3rem;
      margin-top: 1rem;
      font-family: var(--secondary-font-stack);
    }
  }
}
