@use "../utils" as u;

// Hero Section

.hero__section {
  position: relative;
  overflow-x: hidden;

  .hero__Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  .hero__content {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include u.breakpoint-min(med) {
      margin-left: 0;
    }

    .hero__logo {
      position: fixed;
      top: 20%;
    }

    .webgl {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      margin-left: -0.5rem;

      @include u.breakpoint-min(med) {
        top: 35%;
      }

      @include u.breakpoint-min(lg) {
        top: 40%;
      }
    }
  }
}

// Acknoledgement

.land {
  max-width: 40rem;
  margin-bottom: 4rem;
  &__header {
    position: relative;
    margin-bottom: 2rem;

    .land__img {
      position: absolute;
      width: 12rem;
      left: 50%;
      top: -40%;
      transform: translateX(-50%);
      opacity: 0.2;
    }
  }

  p {
    margin-bottom: 2rem;
  }
}

// About Section

.about {
  margin-bottom: 4rem;
  overflow-x: hidden;

  &__header {
    text-align: center;
    margin-bottom: 4rem;

    p {
      font-weight: 200;
    }

    h2 {
      text-transform: uppercase;
      margin-top: -0.65rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img__container {
    background-color: var(--img-background);
    padding: 0.65rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.15rem;
    box-shadow: 3px 3px 8px var(--color-primary);
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
    max-width: 26rem;
  }

  &__img {
    aspect-ratio: 1 / 1;
    border-radius: 0.35rem;
  }

  &__content {
    max-width: 26rem;
    background-color: var(--background-variant);
    padding: var(--space-xl) var(--space-s);
    border-radius: 0.15rem;
    box-shadow: 1px 1px 6px var(--color-primary);
    margin-top: -4rem;
    z-index: 1;

    p {
      margin-bottom: 1rem;
    }
  }

  &__link {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-left: auto;

    p {
      font-size: var(--step-1);
      margin-right: -3rem;
      margin-top: 1rem;
      font-family: var(--secondary-font-stack);
    }
  }

  &__icon {
    font-size: 6rem;
    transform: rotate(-45deg);
    opacity: 0.3;
  }

  @include u.breakpoint-min(med) {
    &__card {
      flex-direction: row;
    }

    &__content {
      margin-top: 0;
      padding: var(--space-s);
      height: fit-content;
      align-self: center;

      p {
        max-width: 26rem;
      }
    }
  }

  @include u.breakpoint-min(lg) {
    &__content {
      padding: var(--space-xl);
      max-width: 100vw;
      padding-left: 29rem;
      padding-right: 19rem;
      margin-left: -27rem;
    }
  }
}

// services section

.services {
  margin-bottom: 4rem;
  overflow-x: hidden;

  &__header {
    text-align: center;
    margin-bottom: 4rem;

    p {
      font-weight: 200;
    }

    h2 {
      text-transform: uppercase;
      margin-top: -0.65rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img__container {
    background-color: var(--img-background);
    padding: 0.65rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.15rem;
    box-shadow: 3px 3px 8px var(--color-primary);
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
    max-width: 26rem;
  }

  &__img {
    aspect-ratio: 1 / 1;
    border-radius: 0.35rem;
  }

  &__content {
    max-width: 26rem;
    background-color: var(--background-variant);
    padding: var(--space-xl) var(--space-s);
    border-radius: 0.15rem;
    box-shadow: 1px 1px 6px var(--color-primary);
    margin-top: -4rem;
    z-index: 1;

    p {
      margin-bottom: 1rem;
    }
  }

  &__link {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-right: auto;

    p {
      font-size: var(--step-1);
      margin-left: -3rem;
      margin-top: 1rem;
      font-family: var(--secondary-font-stack);
    }
  }

  &__icon {
    font-size: 6rem;
    transform: rotate(45deg);
    opacity: 0.3;
  }

  @include u.breakpoint-min(med) {
    &__card {
      flex-direction: row-reverse;
    }

    &__content {
      margin-top: 0;
      padding: var(--space-s);
      height: fit-content;
      align-self: center;

      p {
        max-width: 26rem;
      }
    }
  }

  @include u.breakpoint-min(lg) {
    &__content {
      padding: var(--space-xl);
      max-width: 100vw;
      padding-right: 29rem;
      padding-left: 19rem;
      margin-right: -27rem;
    }
  }
}

// blogs section

.featuredBlogs {
  margin-bottom: 4rem;

  &__header {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  &__link {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-left: auto;

    p {
      font-size: var(--step-1);
      margin-right: -3rem;
      margin-top: 1rem;
      font-family: var(--secondary-font-stack);
    }
  }

  &__icon {
    font-size: 6rem;
    transform: rotate(-45deg);
    opacity: 0.3;
  }
}

// categories section

.topCategories {
  &__header {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 1rem;
    }
  }

  &__link {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-right: auto;

    p {
      font-size: var(--step-1);
      margin-left: -3rem;
      margin-top: 1rem;
      font-family: var(--secondary-font-stack);
    }
  }

  &__icon {
    font-size: 6rem;
    transform: rotate(45deg);
    opacity: 0.3;
  }
}
