@use "../utils" as u;

.servicesSingle {
  &__hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &__background {
    grid-row: 1;
    grid-column: 1;

    .hero_rectangle {
      height: 50vh;

      @include u.breakpoint-min(med) {
        height: 110vh;
      }

      @include u.breakpoint-min(xl) {
        height: 55vh;
      }
    }
  }

  &__header {
    grid-row: 1;
    grid-column: 1;
    background-image: url("/images/services-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    margin-bottom: var(--space-3xl);
    align-self: flex-start;
    margin-top: 4rem;
  }

  &__overlay {
    background-color: var(--color-primary-ol);
    padding: 4rem 0.5rem;
    color: var(--background-color);
    text-shadow: 1px 1px 4px var(--color-primary);

    @include u.breakpoint-min(lg) {
      padding: 6rem 0;
    }

    @include u.breakpoint-min(xl) {
      padding: 8rem 0;
    }
  }

  &__subHeader {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
    margin-bottom: 8rem;
    @include u.breakpoint-min(med) {
      margin-left: -4rem;
    }
  }

  &__title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }

  &__pawIcon {
    font-size: 8rem;
    transform: rotate(135deg);
    opacity: 0.35;
    margin-right: -4rem;
    margin-top: -2rem;
  }

  &__h2 {
    font-family: var(--secondary-font-stack);
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
  }

  &__boneImg {
    max-width: 24rem;
    opacity: 0.35;
    grid-column: 1;
    grid-row: 1;
    margin-inline: auto;
  }

  &__content {
    @include u.breakpoint-min(xl) {
      margin-top: -4rem;
    }
    h2 {
      margin-bottom: 4rem;
      font-family: var(--primary-font-stack);
      text-transform: uppercase;
    }

    p {
      max-width: 48rem;
      margin-inline: auto;
      margin-bottom: 1rem;
    }
  }

  &__image {
    max-width: 36rem;
    margin-inline: auto;
    aspect-ratio: 1;
    border-radius: 1.35rem;
    box-shadow: 3px 3px 8px var(--color-primary);
    margin-bottom: 1rem;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    span {
      font-weight: 600;
      font-size: var(--step-3);
    }
  }

  &__menu {
    margin-top: 4rem;

    h2 {
      font-family: var(--primary-font-stack);
      text-transform: uppercase;
      margin-bottom: 4rem;
    }

    li {
      position: relative;

      a {
        position: absolute;
        font-family: var(--secondary-font-stack);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.35rem;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        width: 8rem;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 20%;
  }

  &__pawIcons {
    width: 6rem;
    height: 6rem;
    opacity: 0.05;
    transform: rotate(45deg);
  }

  &__linkIcon {
    width: 3rem;
    height: 3rem;
    color: var(--background-secondary);
  }
}
