:root {
  /* Color Theme Swatches in HSLA */
  --background-color: hsla(55, 89%, 86%, 1);
  --background-variant: hsla(56, 100%, 90%, 1);
  --background-secondary: hsla(69, 55%, 51%, 1);
  --color-primary: hsla(86, 9%, 16%, 1);
  --btn-color-one: hsla(74, 43%, 63%, 1);
  --btn-color-two: hsla(206, 45%, 89%, 1);
  --btn-color-variant: hsla(255, 100%, 91%);
  --img-background: hsla(0, 0%, 100%, 1);

  /* Overlays */

  /* Gradients */
}
