@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,200;0,400;0,700;1,400&display=swap");

:root {
  --title-font-stack: "Caudex", serif;
  --primary-font-stack: "Libre Franklin", sans-serif;

  --step--2: clamp(0.91rem, calc(0.9rem + 0.07vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.06rem + 0.15vw), 1.2rem);
  --step-0: clamp(1.31rem, calc(1.26rem + 0.27vw), 1.5rem);
  --step-1: clamp(1.58rem, calc(1.49rem + 0.43vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.76rem + 0.65vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.08rem + 0.95vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.45rem + 1.34vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.89rem + 1.87vw), 4.58rem);
}

// default heading stylings

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.1;
  font-family: var(--title-font-stack);
}

// default anchor tag styling

a,
a:visited,
a:active {
  text-decoration: none;
  font-size: var(--step--1);
  color: var(--color-secondary);
}

// resoponsive typography

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

p {
  font-size: var(--step--1);
}
