//blog cards

.featuredBlogs__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .card {
    max-width: 32rem;
    background-color: var(--background-variant);
    box-shadow: 1px 1px 6px var(--color-primary);
    border-radius: 1.35rem;
    padding-bottom: 1rem;

    &__img {
      border-radius: 1.35rem 1.35rem 0 0;
    }

    &__header {
      margin: 0.85rem 0;
      text-align: center;
      padding: var(--space-2xs);
    }

    &__categories {
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 300;
      font-size: var(--step--2);
    }

    &__title {
      line-height: 0.95;
      margin-bottom: 1rem;
    }

    &__date {
      font-style: italic;
    }

    &__content {
      padding: var(--space-2xs);
    }

    .button__blue {
      float: right;
      margin-right: 1rem;
    }
  }
}
