@use "../utils" as u;

.hero_rectangle {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-secondary);

  @include u.breakpoint-min(med) {
    height: 160vh;
  }

  @include u.breakpoint-min(lg) {
    height: 100vh;
  }
}

.bezier__curve {
  transform: scaleY(-1);
  margin-top: -1px;
}
